<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button></ion-back-button>
          <ion-title>Header Example</ion-title>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <!-- Default Spinner -->
<ion-spinner></ion-spinner>

<!-- Lines -->
<ion-spinner name="lines"></ion-spinner>

<!-- Lines Small -->
<ion-spinner name="lines-small"></ion-spinner>

<!-- Dots -->
<ion-spinner name="dots"></ion-spinner>

<!-- Bubbles -->
<ion-spinner name="bubbles"></ion-spinner>

<!-- Circles -->
<ion-spinner name="circles"></ion-spinner>

<!-- Crescent -->
<ion-spinner name="crescent"></ion-spinner>

<!-- Paused Default Spinner -->
<ion-spinner paused></ion-spinner>



<ion-list>
  <ion-item *ngFor="let numero of numeros | slice:0:limit">
    <ion-label> {{numero}}</ion-label>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="popularInfinite($event)">
  <ion-infinite-scroll-content> 

  </ion-infinite-scroll-content>
</ion-infinite-scroll>











</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-title> Footer</ion-title>
</ion-toolbar>
</ion-footer>
