<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button></ion-back-button>
          <ion-title>Fab </ion-title>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 <!-- <ion-fab vertical="top">
     <ion-fab-button>
        <ion-icon name="add"> </ion-icon>
     </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="center">
      <ion-fab-button>
         <ion-icon name="add"> </ion-icon>
      </ion-fab-button>
 
   </ion-fab>

   <ion-fab vertical="bottom">
      <ion-fab-button>
         <ion-icon name="add"> </ion-icon>
      </ion-fab-button>
 
   </ion-fab> -->

<h3>Aula de FAB</h3>

Linha <br> 
Linha <br> 
Linha <br> 
Linha <br> 
Linha <br> 
Linha <br> 
Linha <br> 
Linha <br> 


   <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
         <ion-icon name="add"> </ion-icon>
      </ion-fab-button>
 
   </ion-fab>

   <ion-fab vertical="center" horizontal="end">
      <ion-fab-button>
         <ion-icon name="share"> </ion-icon>
      </ion-fab-button>
    </ion-fab>


     <ion-fab vertical="center" horizontal="center">
         <ion-fab-button>
             <ion-icon name="share"> </ion-icon>
         </ion-fab-button>
         <ion-fab-list side="top">
             <ion-fab-button>
                    <ion-icon name="logo-facebook"> </ion-icon>
             </ion-fab-button>
         </ion-fab-list>

         <ion-fab-list side="start">
                <ion-fab-button>
                       <ion-icon name="logo-facebook"> </ion-icon>
                </ion-fab-button>
            </ion-fab-list>
     </ion-fab>

 

</ion-content>
